@model ContatoModel

@{
    ViewData["Title"] = "Criar contato";
}

<div class="text-center">

    <h1 class="display-4">Cadastrar contato</h1>

</div>

<form asp-controller="Contato" asp-action="Criar" method="post">

    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite seu nome completo">
    </div>
    <br />
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" asp-for="Email" class="form-control" placeholder="Digite seu email">
    </div>

    <br />
    <div class="form-group">
        <label for="celular">Telefone</label>
        <input type="tel" asp-for="Telefone" class="form-control" placeholder="Digite seu telefone">
    </div>
    <br />
    <button type="submit" class="btn btn-primary col-12 mb-1">Adicionar</button>
    <a class="btn btn-secondary col-12 mt-1" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
</form>
